body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("assets/mars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.addDancerButton {
  margin: 0 10px;
  background-color: #444;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  border: 1px solid #111;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.addDancerButton:hover {
  color: white;
  letter-spacing: 3px;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.ETDancer{
  position:absolute;
}