body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("assets/mars2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#444;
  font-size: 18px;
}

.title {
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.title:hover {
  color: red;
  cursor: pointer;
}

.addDancerButton {
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 0 30px;
  transition: all 0.3s ease-in-out;
}

.addDancerButton:hover {
  color: white;
  transition: 0.5s;
  letter-spacing: 1.5px;
}

.topbar{
  display: flex;
  justify-content: flex-start;
  height:32px;
  background-color: #395B64;
}

.title{
  background-color: #2C3333;
  font-size: 20px;
}
.dancer{
  /* border:10px solid red; */
  /* border-radius:10px; */
  position:absolute;
  width: 80px;
}
.ETDancer{
  /* position:absolute; */
  transition: all 1s;
}
.spinningDancer{
  /* position:absolute; */
  width: 80px;
}
.logo{
  width: 30px;
  padding-right: 5px;
}
/* .clearButton{
  float: right;
} */